<h1 align="center">Awesome AI for Research</h1>

<p align="center">
{{ badge_line }}
</p>

<p align="center">
  <em><nobr>"{{ hero_quote }}" {{ hero_quote_author_line }}</nobr></em>
</p>

<p align="center">
  <strong>{{ subtitle_line_1 }}</strong><br />
  <strong>{{ subtitle_line_2 }}</strong>
</p>

> {{ mission }}

{% include "partials/quick_nav.md.j2" %}
